server:
  port: 9095
  context-path: /ui
  session:
    cookie:
      name: UISESSION
  

security:
  basic:
    enabled: false
    
  oauth2:
    client:
      client-id: ClientId
      client-secret: secret
      access-token-uri: http://localhost:9091/auth/oauth/token
      user-authorization-uri: http://localhost:9091/auth/oauth/authorize
      
    resource:
      user-info-uri: http://localhost:9091/auth/rest/hello/principal
      
      
      
spring:
  thymeleaf:
    cache: false